<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link
            rel="stylesheet"
            href="/css/users.css"
        />
        <title>Felhasználók</title>
    </head>
    <body>
        <%- include('nav.ejs') %>
        <div id="users-kontener">
            <p><a href="/api/new-termék">Új termék felvétele</a></p>
            <h1>Termékek</h1>
            <% termekek.forEach(elem => { %>
                <div class="player-kontener">
                <p>Név: <%= elem.nev %></p>
                <img
                    src="<%= elem.kep %>"
                    alt=""
                />
                <p>Termék leírás:<%=elem.termekleiras%></p>
                <p>Ár: <%= elem.ar %></p>
                <button onclick="torles('<%= elem._id%>')">Törlés</button>
                <button>Modositás</button>
            </div>
            <% }) %>
        </div>
        <script src="/js/user-backend.js"></script>
    </body>
</html>
