<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link rel="stylesheet" href="/css/new-player.css">
        <title>Meccs szerkesztése</title>
    </head>
    <body>
        <%- include('nav.ejs') %>
        <div id="new-trainers-kontener">
            <h1>Meccs szerkesztése</h1>
            <form>
                <table>
                    <tr>
                        <td>Saját csapat:</td>
                        <td>
                            <input
                                type="text"
                                id="sajatCsapat"
                                value="<%= matchBackend.sajatCsapat %>"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Ellenfél:</td>
                        <td>
                            <input
                                type="text"
                                id="ellenfel"
                                value="<%= matchBackend.ellenfel %>"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Helyszín:</td>
                        <td>
                            <input
                                type="text"
                                id="helyszin"
                                value="<%= matchBackend.helyszin %>"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Dátum / idő:</td>
                        <td>
                            <input
                                type="datetime-local"
                                id="datum"
                                value="<%= datumInput %>"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Hazai / idegen:</td>
                        <td>
                            <input
                                type="text"
                                id="hazaiIdegen"
                                value="<%= matchBackend.hazaiIdegen %>"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Eredmény:</td>
                        <td>
                            <input
                                type="text"
                                id="eredmeny"
                                value="<%= matchBackend.eredmeny %>"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Jegy link:</td>
                        <td>
                            <input
                                type="text"
                                id="jegyLink"
                                value="<%= matchBackend.jegyLink %>"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Jegy elérhető:</td>
                        <td>
                            <select id="jegyElerheto">
                                <option value="true" <%= matchBackend.jegyElerheto ? 'selected' : '' %>>igen</option>
                                <option value="false" <%= !matchBackend.jegyElerheto ? 'selected' : '' %>>nem</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Liga:</td>
                        <td>
                            <input
                                type="text"
                                id="liga"
                                value="<%= matchBackend.liga %>"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>Korosztály:</td>
                        <td>
                            <input
                                type="text"
                                id="korosztaly"
                                value="<%= matchBackend.korosztaly %>"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button onclick="Meccsmodosit(event, '<%= matchBackend._id %>')">Módosít</button>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
        <script src="/js/matchmodosit.js"></script>
    </body>
</html>
